{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{% url 'home' %}">Django blog</a></h1>
                <nav>
                    <a href="{% url 'home' %}">Bosh sahifa</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'add_post' %}">Post qo'shish</a> 
                    {% endif %}
                </nav>
            <div class="login-info">
                {% if user.is_authenticated %}
                    Salom, {{ user.username }}!
                    <a href="{% url 'logout' %}">Chiqish</a> 
                {% else %}
                    <a href="{% url 'register' %}">Ro'yxatdan o'tish</a>
                    <a href="{% url 'login' %}">Kirish</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container content">
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>

            <div class="sidebar">
            <h3>Kategoriyalar</h3>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'category_posts' category.slug %}">{{ category.name }}</a></li>
                {% empty %}
                    <li>Kategoriyalar topilmadi</li>
                {% endfor %}
            </ul>

            {% block sidebar %}
            {% endblock %}
        </div>
    </div>

    <footer>
        <div class="container">
            <p>Django blog loyihasi</p>
        </div>
    </footer>
</body>
</html>